html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
  }

#header a { color: white }
#header {
    background-color: #7bafae;
    border-bottom: solid 15px #c9eae6;
    text-align: center;
    padding: 20px;
}

#content {
    padding: 40px;
}

h4.inline { 
    display: inline-block;
    margin: 5px;
    margin-bottom: 15px;
}

.toggle:hover { 
    cursor: pointer;
    background-color: #c9eae6;
}
.toggle {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 1px #7bafae;
    border-radius: 20px;
    background-color: white;
    margin-right: 10px;
}

.single-sco-form {
    padding: 20px;
    /* border: solid 5px #acd8d7; */
    /* border-radius: 10px; */
    margin-bottom: 20px;
    width: fit-content;
    background-color: #e7f3f1;
}

.del-btn:hover { cursor: pointer }
.del-btn {
    border-radius: 10px;
}

.hidden { display: none }

.header-row, .table-row {
    background-color: #e5f3f1;
}

.maintenance-result {
    background-color: #e7f3f1;
    padding: 20px;
    margin-bottom: 10px;
    display: none;
}

.maintenance-detail { 
    display: none;
    margin-left: 50px;
}