html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#header a { color: white }
#header {
    background-color: #7bafae;
    border-bottom: solid 15px #c9eae6;
    text-align: center;
    padding: 20px;
}

#content {
    padding: 40px;
}

.single-sco-form {
    padding: 20px;
    /* border: solid 5px #acd8d7; */
    /* border-radius: 10px; */
    margin-bottom: 20px;
    width: fit-content;
    background-color: #e7f3f1;
}

.del-btn:hover { cursor: pointer }
.del-btn {
    border-radius: 10px;
}

.sco-form-hidden { display: none }

.maintenance-result {
    background-color: #e7f3f1;
    padding: 20px;
    margin-bottom: 10px;
}

.maintenance-details { 
    display: none;
    margin-left: 50px;
}