{% extends "base.html" %}
{% block content %}

{% if commit %}
Commit hash: <span id='commit'><b>{{ commit }}</b></span> [<a href='/'>change</a>]<br><br>
<h3> Enter Schema Changes </h3><br>
<form id='form-data' action='/submit_sc' method='POST'>
    <div id='sco-forms'>
        <div class='single-sco-form' id='og-form'>
            <select class="target1 sco-select" name="sc#1" form="form-data">
                <option value="" selected disabled hidden>Select SCO</option>
                {% for sco in sco_names %}
                <option value="{{ sco }}"> {{ sco }}</option>
                {% endfor %}
            </select>

            <select class="target1 table-select" name="table#1" form="form-data" >
                <option value="" selected disabled hidden>Select Table</option>
                {% for t in table_names %}
                <option value="{{ t }}"> {{ t }}</option>
                {% endfor %}
            </select>

            <div class='target1-ext sco-form-hidden'></div>
        </div>
    </div>
    <button id='add-sco'>+ Add another</button>
    <input class='hidden' type='text' name='commit_hash' value='{{ commit }}'>
    <input type='submit'>
</form>

{% else %}
<form action='/enter_commit' method='POST'>
    Choose commit hash: 
    <select name='commit-hash'>
        {% for hash in commit_hashes %}
        <option value='{{ hash }}'>{{ hash }}</option>
        {% endfor %}
    </select>
    <input type='submit' id='submit-commit-hash'>
</form>

{% endif %}

{% endblock %}