{% extends "base.html" %}
{% block content %}

{% if commit %}
Commit hash: <b>{{ commit }}</b> [<a href='/'>change</a>]<br><br>
<h3> Enter Schema Changes </h3><br>
<form id='form-data' action='/submit_sc' method='POST'>
    <div id='sco-forms'>
        <div class='single-sco-form' id='og-form'>
            <select class="target1" name="table1" form="form-data">
                <option value="" selected disabled hidden>Select Table</option>
                {% for t in tables %}
                <option value="{{ t }}"> {{ t }}</option>
                {% endfor %}
            </select>
            
            <select class="target1 sco-select" name="sc1" form="form-data">
                <option value="" selected disabled hidden>Select SCO</option>
                {% for sco in scos %}
                <option value="{{ sco }}"> {{ sco }}</option>
                {% endfor %}
            </select>

            <div class='target1-ext sco-form-hidden'></div>
        </div>
    </div>
    <button id='add-sco'>+ Add another</button>
    <input type='submit'>
</form>

{% else %}
<form action='/enter_commit' method='POST'>
    Enter commit hash:  <input type='text' name='commit-hash' placeholder="e.g. d2569a1e418f35ef117cad4d40b1ac2e2ef4f084" size=60 required>
    <input type='submit' id='submit-commit-hash'>
</form>

{% endif %}

{% endblock %}